
@import 'nextra-theme-docs/style.css';
@import 'tailwindcss';

@source inline('aspect-video');
@source inline('py-10');

@variant dark (&:where(.dark *));

@theme {
  --animate-fade-up: fade-up 0.6s ease-out;
  --animate-blink: blink 2s step-end infinite;
}

body {
  font-feature-settings:
          'rlig' 1,
          'calt' 1;
}

.home-content p {
  margin-top: 1.5em;
  line-height: 1.75em;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }

  .home-content .hide-small {
    display: none;
  }
}

/* adds labels to the sidebar links */
.badge-new {
  @apply dark:after:border-blue-200/30 dark:after:bg-blue-900/30 dark:after:text-blue-200;
  &:after {
    @apply ms-1.5 rounded-full border border-blue-200 bg-blue-100 px-1.5 text-xs font-bold text-blue-900 content-["New"];
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;

  }
  25%, 75% {
    opacity: 0;
  }
}
